body{
    background-color: white;
    font-family: verdana;
    color: black;
}
header.topnav{
    margin-top: 0;
    margin-left: 0%;
    margin-right: 0;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
}
header h1{
    margin-right: 10px;
    float: left;
}
header.topnav li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding-top: 5%;
}
header button{
    margin: 2%;
    display: inline-block;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #374151;
    background-color: white;
    color: #374151;
}
div.b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}
.bod{
    font-size: 3em;
}
div.b div ul.ch{
    list-style-image: url("check.svg");
    font-size: 2em;
}
img{
    width: 50%;
}
.box{
    height: 55px;
    width: 55%;
    border: solid 1px #374151;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}
input{
    width: 400px;
    height: 50px;
    border: none;  
}
.join{
    height:50px ;
    width: 90px;
    background-color: #0052cc;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; 
}