*{
    padding :0;
    margin : 0;  
}
div.buttons{
    position: absolute;
    top: 10%;
    left: 45%;
}
button{
    padding: 20px;
    color: rgba(116, 116, 116, 0.663);
    border: 2px solid rgba(116, 116, 116, 0.663);
    border-radius: 20%;
    background-color: white;
}
button:hover{
    border: 4px solid rgba(116, 116, 116, 0.663);
}
button:active{
    border: 2px solid;
    background-color: rgba(162, 162, 162, 0.358);
}
button:disabled{
    color: rgba(162, 162, 162, 0.2);
    border: rgba(162, 162, 162, 0.2);
}