*{
    padding :0;
    margin : 0;  
}
div{
    margin: 20%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
span{
    padding: 20px;
    margin: 10px;
    border: 7px rgba(255, 0, 47, 0.785);
    text-align: center;
    size: 20px;
}
span.dotted{
    border-style: dotted;
}
span.dashed {
     border-style: dashed;
}
span.solid {
     border-style: solid;
}
span.double {
     border-style: double;
}
span.groove{
     border-style: groove;
}
span.ridge{
     border-style: ridge;
}
span.inset{
     border-style: inset;
}
span.outset{
     border-style: outset;
}
span.none{
     border-style: none;
}
span.hidden{
     border-style: hidden;
}