body{
    
    font-family: verdana;
    color: white;
}
div{
    position: absolute;
    padding: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
    height: 250px;
    padding: 10px;
    box-shadow: #374151;
}
button{
    font-size: 30px;
    margin: 0px;
    background-color: black;
    color: #f3f4f6;
    border-radius: 50%;
    border: none;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
}
button:hover{
    color: rgba(255, 255, 255, 0.073);
    font-size: 40px;
    font-weight: bold;
    background-color: #374151;
}