body{
    
    font-family: verdana;
    color: white;
}
div.calculator{
    position: absolute;
    padding: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
    height: 250px;
    padding: 10px;
    box-shadow: #374151;
}
table{
    background-color: black;
    border: 10px solid black;
    border-radius: 20px;
}
td.display-screen{
    border: 1px solid white;
    border-radius: 20px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0);
}
input{
    background-color: rgba(0, 0, 0, 0);
    height: 75px;
    width: 190px;
    border: none;
    color: white;
    font-size: 40px;
}

button{
    font-size: 30px;
    margin: 0px;
    background-color: black;
    color: #f3f4f6;
    border-radius: 50%;
    border: none;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
}
button.btn-equal{
    border-radius: 50px;
    min-height: 100px;
    background-color: rgb(151, 151, 151);
}
button.btn-operator{
    background-color: rgba(255, 138, 158, 0.703);
}
button.btn-num{
    background-color: rgba(133, 133, 255, 0.696);
}
button.btn-clear{
    background-color: rgba(184, 48, 48, 0.718);
}
button:hover{
    color: rgba(255, 255, 255, 0.073);
    font-size: 40px;
    font-weight: bold;
    background-color: #374151;
}