div {
    padding: 8px;
    top: 100px;
    position: absolute;
    height: 100px;
    width: 100px;
}
.r{
    background-color: red;
    left: 100px
}
.b{
    background-color: blue;
    left: 400px
}
.g{
    background-color: green;
    left: 800px
}