body{
    padding: 0;
}
span.divider{
    background-color: rgba(255, 255, 255, 0.595);
}
span{
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    position: absolute;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 50px;
    min-height: 100%;
}
span.screen1{
    margin-left:0;
    width: auto;   
    max-width: 80%;
    min-width: 10%;
    width: 50%;
    min-height: 100%;
}
span.screen2{
    width: auto;
    margin-right:0;
    max-width: 80%;
    min-width: 10%;
    width: 50%;
    min-height: 100%;
}