body{
    padding: 0;
    background-color: black;
}
div{
    margin-left: 28.5%;
    max-width: 30%;
    position: relative sticky;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 30px;

}