*{
    padding :0;
    margin : 0;
   
}
body{
    background-image: url(b.jpg);
}
.logo{
    align-self: top left;
}
.logo{
    align-self: top right;
    width : 140px;
    height : auto;
    padding : 1px 10px;
}
.center{
    position: absolute;
    top : 20%;
    left : 50%;
    transform : translate(-50%, -50%);
    font-family: sans-serif;
    user-select:none;  
}
.center h1{
    color: rgba(250, 250 , 250, 0.5);
    font-size : 40px;
    font-weight : bold;
    width : 700px;
    text-align : center;
}
.center h2{
    color: rgba(250, 250, 250, 0.5);
    font-size : 40px;
    font-weight : bold;
    width : 700px;
    text-align : center;
}
.center button{
    margin : 55px 55px;
}
.buttons button{
    height : 30px;
    width : 120px;
    font-size : 18px;
    font-weight : bold;
    color : white;
    background : rgb(19, 37, 198);
    border : 1px solid #000000;
    outline : none;
    cursor : pointer;
    border-radius: 25px;

}
.buttons{
    position: absolute;
    top : 40%;
    left : 50%;
    transform : translate(-50%, -50%);
    font-family: sans-serif;
    user-select:none;  
}